n8n_test_workflow.json
{
    "name": "ChatGPT Connection Test",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "test-chatgpt",
                "responseMode": "lastNode",
                "options": {}
            },
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                250,
                300
            ],
            "id": "webhook-test",
            "name": "Webhook",
            "webhookId": "test-webhook-001"
        },
        {
            "parameters": {
                "modelId": {
                    "__rl": true,
                    "value": "gpt-4o-mini",
                    "mode": "list"
                },
                "messages": {
                    "values": [
                        {
                            "content": "=You are a helpful assistant. Please respond to: {{ $json.message }}"
                        }
                    ]
                },
                "options": {}
            },
            "type": "@n8n/n8n-nodes-langchain.openAi",
            "typeVersion": 1.8,
            "position": [
                450,
                300
            ],
            "id": "openai-test",
            "name": "OpenAI",
            "credentials": {
                "openAiApi": {
                    "id": "openai-credential",
                    "name": "OpenAI Account"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "return [{\n  json: {\n    success: true,\n    input: $('Webhook').item.json.body.message,\n    response: $json.message.content,\n    timestamp: new Date().toISOString()\n  }\n}];"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                650,
                300
            ],
            "id": "format-response",
            "name": "Format Response"
        }
    ],
    "connections": {
        "Webhook": {
            "main": [
                [
                    {
                        "node": "OpenAI",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "OpenAI": {
            "main": [
                [
                    {
                        "node": "Format Response",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "active": false,
    "settings": {
        "executionOrder": "v1"
    },
    "versionId": "test-v1",
    "meta": {
        "instanceId": "chatgpt-test"
    },
    "id": "chatgpt-connection-test",
    "tags": []
}